body {
      margin: 0;
      padding: 0;
      overflow: hidden; 
      height: 100vh;
      display: flex;
      flex-direction: column;
    background-color: black;
      font-family: Arial, sans-serif;

    }

    #start-button {
        font-size: 16px;
        position: fixed;
        right: 50%;
        top: 50%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      
      
      #bird-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none; 
      }
      .bird {
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        animation: flyAcross 4s linear infinite;
      }
      
      @keyframes flyAcross {
        0% {
          transform: translateX(-100px) translateY(0);
        }
        100% {
          transform: translateX(100vw) translateY(calc(100vh * var(--random-y)));
        }
      }
      

    .main-title {
        color: #b1d0ff;  
        text-align:start; 
        font-size: 40px; 
        margin-top: 50px;  
        margin-left: 19px;
        z-index: 1;
        position:absolute; 
 
    }

  

.top-nav {
    background-color: transparent;
    padding: 10px 20px;
    border-bottom: 0.5px solid #b1d0ff;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #b1d0ff;
    font-size: 14px;
    display: inline-block;
    transition:transform 0.3s ease, color 0.3s ease;
}

.nav-item.active a {
    color: #60a3fa;
    font-weight: bold;
    
}

.nav-item a:hover {
    transform: scale(1.2); 
    color: #ffffff;
}

#wave-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw; 
  height: 100px; 
}

#wave-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  animation: waveAnimation 1s linear infinite; 
}


@keyframes waveAnimation {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-500px); 
  }
}

.centered-text {
  position: absolute;
  top: 60%;
  left: 48.3%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #b1d0ff;
  z-index: 10;
  text-align: center;
}

.photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  position: absolute;
  top: 60%; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.dynamic-photo {
  width: 150px;
  height: 100px;
  opacity: 0; 
  animation: fadeIn 2s forwards; 
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}








