body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-color: #000000;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: Arial, sans-serif; 
}

.main-title {
  color: #ffffff;  
  text-align:st art; 
  font-size: 150px; 
  margin-top: 50px;  
  margin-left: 19px;
  z-index: -1;
  position:absolute;  
}

.sub{
  color: #ffffff;  
  font-size: 15px; 
  margin-top: 700px;  
  margin-left: 19px;
  z-index: 1;
  position:absolute;  
  text-align: center;
}

.link-container {
  display: flex;
  gap: 20px; 
  transition: transform 0.3s; 

}


.circle-link {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 95px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  animation: spinShrink 2s infinite ease-in-out;
  opacity: 60%; 
  }



@keyframes spinShrink {
  0% {
      transform: scale(1) ; 
  }
  50% {
      transform: scale(0.8) ;
  }
  100% {
      transform: scale(1) ;
  }
}



.color-green {
  background-color: #12b003; 
  font-size: 13px;
}

.color-orange {
  background-color: rgb(187, 103, 0); 
  font-size: 13px;
}

.color-purple {
  background-color: #9eabff; 
  font-size: 13px;
}

.color-glow {
  background-color: rgb(255, 191, 0);
  font-size: 13px; 
}

.color-blue{background-color: rgb(2, 133, 255);
  font-size: 13px;}


.color-red{background-color: red;
  font-size: 13px;}

.color-yellow{background-color: yellow;
  font-size: 13px;
color: #5500ff;}

.circle-link:hover {
  opacity: 1;
   
}

.circle-container {
  position: relative;
  width: 800px;
  height: 800px; 
  background-color:transparent; 
  border: transparent; 
  overflow: hidden; }
  