body{ background-color: black;
  margin: 0;
  height: 100%;
}

.main-title {
  color: #9eabff;  
  text-align:start; 
  font-size: 40px; 
  margin-top: 50px;  
  margin-left: 19px;
  z-index: 1;
  position:relative
}

.hover-text-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #9eabff;  
  text-align:start; 
  font-size: 15px; 
  margin-top: 10px;  
  margin-left: 22px;
  z-index: 1;
  position:absolute;  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.tooltip {
  visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 180%; 
    left: 320%; 
    transform: translateX(-50%);
    background-color:transparent;
    color: #9eabff;
    padding: 0PX;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform-origin: top center;
}
.hover-text-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(10px);}

  .tooltip::before {
    content: "";
    position: absolute;
    bottom: 110%; 
    left: 5%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #9eabff transparent;
  }

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 200px;

  background-color: black;
}

.container-item {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #9eabff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}



.vinyl-image {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}


    .hover-text {
      position: absolute;
      bottom: -50px; 
      left: 50%;
      font-size: 14px;
      color:#9eabff;
      opacity: 0;
      transition: opacity 0.3s ease;
      transform: translateX(-50%); 
      z-index: 2; 
  }

  .container-item:hover .hover-text {
    opacity: 1; 
}

.container-item:hover .vinyl-image {
  animation: rotateImage 2s linear infinite;}

  @keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.container-item:hover .vinyl-image {
  transform: scale(1.1);
}


  .top-nav {
    background-color: transparent;
    padding: 10px 20px;
    border-bottom: 1px solid #9eabff;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;  
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #9eabff;
    font-size: 14px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .nav-item.active a {
    color: #9eabff;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    color: #ffffff; 
    display: inline-block;
    transform: scale(1.2); 
  }
  
  

