
.main-title {
  color: #ffffff;  
  text-align:start; 
  font-size: 40px; 
  margin-top: 50px;  
  margin-left: 19px;
  z-index: 1;
  position:absolute;  
}

.container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items:baseline;
  padding-top: 100px;

  height: 130px; 
  background-color: transparent;   
  
}
.container-item {
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: color 1s ease;
    font-family:Arial, sans-serif;
    }
.container-item:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.1)
}

body {
  
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
    font-family: Arial, sans-serif;
  }

  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 50px;
  }

.park{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    animation: parkColorChange 6s infinite;
}

@keyframes parkColorChange {
  0% {
      color: rgb(255, 140, 0); /* Starting color */
  }
  50% {
      color: rgb(0, 150, 225); /* Midpoint color (Green) */
  }
  100% {
      color: rgb(23, 125, 2); /* Ending color (Blue) */
  }
}



.a {
  height: 390px;
  width:195px;
}
.b {height: 390px;
  width:195px;
}
.c {height: 390px;
  width:195px;}
.d {height: 390px;
  width:195px;}
.e {height: 390px;
  width:195px;}

  .top-nav {
    background-color: transparent;
    padding: 10px 20px;
    border-bottom: 0.5px solid rgb(255, 255, 255);
  
  }
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .nav-item.active a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: 1px dashed rgb(255, 255, 255); 
  }
  
  .nav-item a:hover {
    color:rgb(96, 96, 96);
    display: inline-block;
    transform: scale(1.2);  
  }
  
  