
.button1{
  width: 100px;
  height: 40px;
  background-color: transparent;
  font-size:20px; 
  color: rgb(193, 114, 3);
  font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
}
.button2{
  width: 100px;
  height: 40px;
  background-color: transparent;
  font-size:20px; 
  color: rgb(193, 114, 3);
  font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
}

.container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items:baseline;
  margin: 30px;
  height: 130px; 
  background-color: transparent;   
}
.container-item {
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: color 1s ease;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-align: center;
    margin: 30px;
    width: 195px;
    height: 390px;
    }
.container-item:hover{
  color: rgb(226, 203, 0);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 50px;
  }

.park{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    animation: parkColorChange 6s infinite;
}

@keyframes parkColorChange {
  0% {
      color: rgb(255, 140, 0); /* Starting color */
  }
  50% {
      color: rgb(0, 150, 225); /* Midpoint color (Green) */
  }
  100% {
      color: rgb(23, 125, 2); /* Ending color (Blue) */
  }
}



.a {
  height: 390px;
  width:195px;
}
.b {height: 390px;
  width:195px;
}
.c {height: 390px;
  width:195px;}
.d {height: 390px;
  width:195px;}
.e {height: 390px;
  width:195px;}


