body {
   background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
  .a {
    position: relative;
    top: 100px;
    left: 80px;
    color: rgb(193, 114, 3);
    font-size: 30px;
    font-style: italic;
  }
  .leftdown{
position: absolute;
left: 950px;;
top: 300px;
}
.leftup{
    position: absolute;
    left: 625px;
    position: relative;
    bottom: 325px;
}
.center{
    position: absolute;
    left: 850px;
    top: 400px;
}
.rightdown{
  position: relative;
  bottom: 300px;
  left: 850px;
}

.playbutton{
        width: 60px;
        height: 60px;
        background-color: transparent; 
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        position: relative;
        left: 670px;
        bottom: 420px;
        font-size: 30px;
        font-style:oblique;
        color:  rgb(193, 114, 3);
        border: none;
}
.button1{
    width: 100px;
    height: 40px;
    background-color: transparent;
    font-size:20px; 
    color: rgb(193, 114, 3);
    font-style: oblique;
    position: relative;
    bottom: 450px;
    left: 50px;
    border: none;
}
.button2{
    width: 100px;
    height: 40px;
    background-color: transparent;
    font-size:20px; 
    color: rgb(193, 114, 3);
    font-style: oblique;
    position: relative;
    bottom: 450px;
    left: 1200px;
    border: none;
}

