
body{
background-color: black;
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
}

.map{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.red-point {
    width: 30px; 
    height: 30px; 
    background-color: red; 
    border-radius: 50%;
    position: absolute; 
    top: 35%; 
    left: 58%; 
    transform: translate(-50%, -50%);
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
}

.shining-text {
    position: absolute; 
    top: 50%; 
    left: calc(50% + 30px); 
    color: rgb(255, 255, 255); 
    font-size: 24px; 
    transform: translateY(-50%); 
    animation: blink 2s infinite;
    position: absolute; 
    top: 20%; 
    left: 63%; 
    transform: translate(-50%, -50%);
}


.top-nav {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;  
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .nav-item.active a {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000; 
  }
  
  .nav-item a:hover {
    color: #000; 
  }
  
  